/* FONTS */
@import url(//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic);
.float-left {
    float: left;
}

.float-right {
    float: right;
}

.clear-fix:after {
    content: ".";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}


/* MAIN */

html {
    min-height: 100%;
    height: 100%;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    -webkit-font-smoothing: antialiased;    
    height: 100%;
    min-height: 100%;
}

a {
    text-decoration: none;    
    outline: none;
}

    a:hover {
        text-decoration: underline;
        outline: none;
    }

    a:active {
        text-decoration: none;
        outline: none;
    }

    

/* HEADER */
.header {      
    position: relative;  
    width: 100%;
    min-width: 1024px;
    background-color: #591E08;
    background: url('images/topbar_noise1.png');
    height: 80px;  
    line-height: 80px; 
    z-index: 2;
}

.header_logo {
    margin-left: 20px;
    vertical-align: middle;
    display: inline-block;
    float: left;
    height: 80px;
}

.header_logo_link {
    font-weight: bold;
    font-size: 40px;
    color: white;
}

    .header_logo_link:hover {
        color: white;
    }

.header_searchbox {    
    height: 80px;
    display: inline-block;
    line-height: 80px;
    margin-left: 20px;    
    width: 40%;
}

.header_searchbox_input {
    
    display: inline-block;
    vertical-align: middle;
    height: 40px;
    width: 100%;
    border: 3px solid #D4B67F;
    font-size: 20px;
    line-height: 40px;
    padding: 5px;
    outline: none;
}

.header_login {
    
    float: right;    
    line-height: 80px;
    height: 80px;    
}
.header_login a {    
    display: inline-block;
    margin-right: 20px;
    color: white;
    font-size: 20px;
    vertical-align: middle;    
}


/* WRAPPER */

.wrapper {
    position: relative;    
    min-height: 100%;
    margin-top: -80px;
    padding-top: 80px;
    z-index: 1;
    
}

/* LEFT BAR */

.leftbar {      
    position: absolute;  
    margin-top: -80px; 
    padding-top: 80px;
    float: left;        
    width: 200px;
    height: 100%;
    min-height: 100%;
    z-index: 2;
    background-color: #ebebeb;
    border-right: 1px solid #D4B67F;
}

.leftbar_menu {    
    list-style: none;
    padding: 0;
}

    .leftbar_menu a {
        color: brown;
        text-decoration: none;
        font-size: 17px;
    }

    .leftbar_menu a.active {
        color: white;
    }

    .leftbar_menu a li {
        padding: 5px 0 5px 10px;
    }        

    .leftbar_menu a.active li{
        background-color: #00c848;          
    }
        

        
        

/* MAIN CONTENT */

.main {
    position: relative;
    display: inline-block;
    padding-left: 230px;   
    height: 100%;
    min-width: 794px;
    
}


/* PAGE */

.page_title {
    margin-bottom: 20px;
}


/* LIST */

.list { 
    
    width: 700px;
    box-shadow: rgba(0, 0, 0, .2) 0px 2px 7px;
    padding-bottom: 20px;
}

.list_container {
    margin-bottom: 20px;
}

.list a:hover {
    text-decoration: none;
}

.list_row {
    padding: 10px;
    cursor: pointer;
}

    .list_row:hover {
        background: rgba(0, 0, 0, 0.05);
     
    }

.list_row_title {
    font-weight: 300;
    font-size: 20px;

}

.list_navigation {
    display: block;
    text-align: center;
}

.list_load_prev, .list_load_next {
    display: inline-block;
    
    font-size: 20px;
    background: rgb(106, 104, 81);
    border: none;
    color: white;
    box-shadow: rgba(0, 0, 0, .2) 1px 1px 3px;
    -webkit-transition: 0.3s linear 0s;
    -moz-transition: 0.3s linear 0s;
    -o-transition: 0.3s linear 0s;
    transition: 0.3s linear 0s;
}

    .list_load_prev:hover, .list_load_next:hover {
        box-shadow: rgba(0, 0, 0, .5) 1px 1px 15px;        
    }

.list_page_delimeter {
    padding-left: 10px;
    background: rgba(106, 104, 81, .5);
    color: white;
}
