@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Вход</title>
</head>
<body>
        <h3>Форма входа</h3>
        <form method="post" action="">
            E-mail:<input type="text"  name="Email" /><br />
            Password: <input type="password"  name="Password" />
            <input type="submit" value="Отправить" />
            </form>

</body>
</html>
