@using serverhouse_web.Models.PropertyValue
@model PropertyValue


@{
    var m = (TextPropertyValue) Model;
}


<div class="e_valuerep e_valuerep_text">

    <textarea>@m.text</textarea>

</div>