@using serverhouse_web.Models.SHObject;
@model SHObject

@{
    ViewBag.Title = "Edit";
    var obj = Model;
}

<h2>Edit @obj.getName()</h2>

<div id="object_edit_container">
    <form class="object_edit_form" method="post" action="/repo/edit/@obj.id">
        <div class="edit_props">
            @foreach (var prop in obj.properties) { 
                <text>
                <div class="edit_prop">
                    <label>@prop.Key:</label> <input type="text" name="@prop.Key" value="@prop.Value"/><br>
                </div>
                </text>
            }
        </div>
        <div class="edit_controls">
            <button class="edit_add_prop" type="button">Add prop</button>
        </div>
        <input type="submit" value="Сохранить">
    </form>
</div>


<script>
    $(document).ready(function () {

    });

    function initForm() {

    }

    $("button.edit_add_prop").click(function () {        
        $(".edit_props").append(propFieldFor(prompt("Enter new field name:")));
    });

    function propFieldFor(name) {
        return '<label>'+name+':</label> <input type="text" name="'+name+'" value=""/><br>';
    }
</script>