@using serverhouse_web.Models.SHObject
@model List<SHObject>

@{var objects = Model;}

@{
    ViewBag.Title = "All";
}

<h1 class="page_title">All</h1>
<a href="/repo/add">add</a><br><br>
<div id="all_objects_container" class="container">
    <div class="list">
        <div class="list_container">
        <div class="list_page_delimeter">Page @ViewBag.page</div>
        @foreach (SHObject obj in objects) { 
             
                 <div class="list_row">
                   <div class="list_row_title"><a href="repo/view/@obj.id">@obj.getName()</a></div>
                   <div class="list_row_actions">
                       <a href="/repo/edit/@obj.id">edit</a>  
                       <a href="/repo/delete/@obj.id">delete</a><br>
                   </div>
                </div>
             
        }
        </div>
        <div class="list_navigation">
            @if(ViewBag.page > 1){
                @Html.ActionLink("Prev", "Index", new { page = ViewBag.page - 1 });
            }

            @if(ViewBag.nextPageAvailable){
                @Html.ActionLink("Next", "Index", new { page = ViewBag.page + 1 });
            }
            
            
        </div>
    </div>
</div>