@model serverhouse_web.Models.SHObject.SHObject

@{var obj = Model;}

@{
    ViewBag.Title = "object"+obj.id.ToString();
}

<h2>@obj.id</h2>
<a href="/repo/edit/@obj.id">edit</a>  
<a href="/repo/delete/@obj.id" class="noasync">delete</a><br>

@foreach (var prop in obj.properties) { 
    <text>
    @prop.Key: @prop.Value <br>
    </text>
}








