@model serverhouse_web.Models.SHObject.SHObject

@{var obj = Model;}

@{
    ViewBag.Title = "object"+obj.id.ToString();

    var viewMode = "grouped";
    if(Request.QueryString["mode"] != null){
        viewMode = Request.QueryString["mode"].ToLower();
    }
}

<div class="obj_view">

    <h2>@obj.getName()</h2>

    <div class="obj_view_controls">
        <a href="/repo/edit/@obj.id">edit</a>  
        <a href="/repo/delete/@obj.id" class="noasync delete">delete</a><br>
    </div>

    <div class="obj_view_mode">
        @if(viewMode=="grouped"){
            <text>
            grouped    
            <a href="/repo/view/@obj.id?mode=raw">raw</a>
            </text>
        }else{
            <text>            
            <a href="/repo/view/@obj.id">grouped</a>
            raw
            </text>
        }
    </div>
    


    @switch (viewMode){
        case "grouped":
            Html.RenderPartial("~/Views/Repo/ViewModes/GroupedViewPartial.cshtml");
            break;
        case "raw":
            Html.RenderPartial("~/Views/Repo/ViewModes/RawViewPartial.cshtml");
            break;
        default:
            Html.RenderPartial("~/Views/Repo/ViewModes/GroupedViewPartial.cshtml");
            break;
    }

</div>

@Scripts.Render("~/objectView")








